<h1>Bienvenue</h1>
<p>Gestion de boutiques</p>
<%= link_to 'Voir les boutiques', controller='shops' %>
<%= link_to 'Voir les boutiques proches', controller='shop/find/' %>
<%= link_to 'Ajouter une boutique', new_shop_path %>
